body{
    background-color: gainsboro;
    font-family: Comfortaa, serif;
}

div.wrapper{
    margin-left:auto;
    margin-top:15px;
    margin-bottom:20px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:relative;
}

div.header{
    height: 200px;
    text-align: center;
    background-color: aliceblue ;
}
div.container {
    background-color: white;

}

textarea{
    margin-left:20px;
}

div.footer{
    height: 100px;
    text-align: center;
    background-color: aliceblue ;
    margin-bottom: 0;
}


p.footer{
    padding: 35px;
}

h1{
    padding-top:50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    font-style: inherit;
    font-variant: normal;
    font-weight: 700;
    line-height: 55px;
}

h4 {
    margin-top:40px;
    margin-left:25px;

}

button {
    display: inline-block;
    background-color: #80d4ff;
    border:none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
}

button.konwersja span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button.konwersja span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button.konwersja:hover span {
    padding-right: 25px;
}

button.konwersja:hover span:after {
    opacity: 1;
    right: 0;
}
/*********************************************PLAN******************************/
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin:0;
}
.down{
    margin:0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: none;
    color:white;
}



p{
    margin:0;
}
h3{
    background-color: red;
    width:100%;
    padding:8px;
    margin:0;
}

h5{
    background-color: #ffcccc;
    padding:5px;
    margin:0;
}

.row{
    margin-left:4px;
}

.plan{
    background-color: white;
    height:auto;
    margin-top:20px;
}

button.plan{
    background-color: #ff6666;
    width: 80%;
    margin:0;
    font-size:10px;
}

button.plan:hover{
    margin-top:1px;
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}